<div class="fullscreen">
  <img src="images/cam.jpg">
</div>
<section class="megatron">
	<div class="inner">
		<div class="text">
			<h1>Shop. Inspire.</h1>
			<h1>Sell.</h1>
		</div>

		<div class="text-center small-space">
			<a href="#register" class="brand-btn brand-border" role="button">Start</a>
		</div>

		<div class="text-center">
			<a href="#">Or sign in</a>
		</div>
	</div>
</section>