<ul>
<li>
	Landing Page
	<ul>
		<li>Choose profile (man/girl) => Define things you like</li>
		<li>Or sign in<li>
	</ul>
</li>

<li>
Home Page
<ul>
<li>Feed => Images has a seller</li>
<li>Michael's Store => Ting du har valgt å eie / lagt til. Customize look and feel</li>
</ul>

</li>



</ul>

