<ul class="pull-left">
	<li>
		<h6 class=" lead brand-btn pull-left brand-fill pointer">Shopr.</h6>
	</li>
</ul>

<ul class="pull-right centerify">
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
	<li><a href="#">T & C </a></li>
	<li><a href="#">Team</a></li>
</ul>